<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flatshare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <!-- LoginActivity always starts -->
        <activity
            android:name=".presentation.ui.activities.auth.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- All other Activities, all Activities are in Portrait-Mode -->
        <activity
            android:name=".presentation.ui.activities.matching.MatchingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.activities.profile.PrimaryProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.activities.auth.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.activities.auth.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.activities.profile.TenantProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.activities.profile.ApartmentProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.activities.profile.TenantSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.activities.profile.ApartmentSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.activities.settings.ProfileTenantSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.activities.matchingoverview.chat.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.activities.settings.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.activities.matchingoverview.calendar.CalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.activities.matching.RoommateQRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.activities.matching.QRCodeReaderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.activities.matchingoverview.MatchingOverviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.activities.matchingoverview.matchinginfo.MatchingInfoActivity"
            android:screenOrientation="portrait" />
        <!-- Facebook Activity -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!-- Facebook CoustomTabActivity -->
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.ui.activities.profile.RoommateWaitingActivity" />
        <activity android:name=".presentation.ui.activities.settings.ProfileApartmentSettingsActivity" />
        <activity android:name=".presentation.ui.activities.settings.ProfileTenantSettingsFilterActivity" />
        <activity android:name=".presentation.ui.activities.settings.ProfileApartmentSettingsFilterActivity"></activity>
    </application>

</manifest>